*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background: #e9e9e9;
}
.container{
    text-align: center;
}
.progress-box{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}
.progress-box::before{
    content: '';
    background-color: #a1a1a1;
    position: absolute;
    top: 50%;
    left: 0%;
    height: 5px;
    width: 100%;
    transform: translateY(-50%);
    z-index: -1;
}
.progress{
    background-color: #17df10;
    position: absolute;
    top: 50%;
    left: 0%;
    height: 5px;
    width: 0;
    transform: translateY(-50%);
    z-index: -1;
    transition: 0.4s ease;
}
.circle{
    color: #999;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #a1a1a1;
    transition: 0.4s ease;
    background-position: center;
    background-size: cover;
}
.circle.active{
    border-color: #17df10;
}
.btn{
    background-color: #17df10;
    color: #fff;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 30px;
    margin: 5px;
    font-size: 14px;
    overflow: hidden;
}
.btn:active{
    transform: scale(0.9);
}
.btn:focus{
    outline: 0;
}
.btn:disabled{
    background-color: #a1a1a1;
    cursor: not-allowed;
}